/Debug/
/sensor_CC1352P_4_LAUNCHXL_tirtos_ccs/Release/
/collector_CC1352P_4_LAUNCHXL_tirtos_ccs/Release/
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs/.settings/
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs/.launches/
crsCollector_CC1352P_4_LAUNCHXL_tirtos_ccs/.settings/
crsCollector_CC1352P_4_LAUNCHXL_tirtos_ccs/.launches/
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs/Debug/
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs//Debug/
crsCollector_CC1352P_4_LAUNCHXL_tirtos_ccs//Debug/
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs/Debug/crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs.map
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs/Debug/crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs_linkInfo.xml
node_modules/
dist/
.jxbrowser.userdata/
.metadata/
RemoteSystemsTempFiles/
rfEasyLinkTx_CC1352P_4_LAUNCHXL_tirtos_ccs/
rfWsnConcentrator_CC1352P_4_LAUNCHXL_tirtos_ccs/
tdd_config_CC1352P_4_LAUNCHXL_tirtos_ccs/
tirtos_builds_cc13x2_cc26x2_release_ccs/
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs/.cproject
crsCollector_CC1352P_4_LAUNCHXL_tirtos_ccs/.cproject
crsSensor_CC1352P_4_LAUNCHXL_tirtos_ccs/.settings/org.eclipse.core.resources.prefs
